<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title ">All Staff List</h4>
                            <p class="card-category"> This is a table of staff recorded since time memorial</p>
                         </div>
    
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th> Name </th>
                                        <th> Role </th>
                                        <th> Gender </th>
                                        <th> Phone </th>
                                        <th> Working Since </th>
                                        <th> Identification </th>
                                    </thead>
                                    <tbody>
    
                                        <tr *ngFor="let allPatientDetail of allPatientDetails; let i = index">
                                            
                                                <td> {{allPatientDetail?.firstName}} {{allPatientDetail?.middleName}} {{allPatientDetail?.lastName}} </td>
                                                <td> {{allPatientDetail?.role }} </td>
                                                <td> {{allPatientDetail?.gender}} </td>
                                                <td> {{allPatientDetail?.phone}} </td>
                                                <td> {{allPatientDetail?.workingSince.substring(0, 15)}} </td>                                                 
                                                <td> {{allPatientDetail?.identification}}  </td>
                                                     
    
                                        </tr>
    
                                    </tbody>
                                </table>
                                <mat-paginator [length]="100"
                                            [pageSize]="10"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>
    
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
      </div>
      